html, body {
  height: 100%;
}

body {
  min-height: 100%;
}

.App {
  text-align: center;
  height: 100vh !important;
  overflow: hidden;
  background-color: gray;
}

/* Header */

.App-header {
  background-color: #222;
  color: white;
  z-index: 100;
  position: relative;
}

#menu-button {
  position: absolute;
  left: 16px;
  height: 40px;
  width: 28px;
  background: transparent url('./img/hamburger-icon.svg') center center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.App-title {
  margin: 0;
  font-size: 28px;
  line-height: 40px;
}

/* Map */

#map-container {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100vw;
  height: calc(100% - 40px);
  background-color: gray;
}

#map-container #map {
  width: 100%;
  height: 100%;
}

/* Sidebar */

#sidebar {
  position: absolute;
  width: 280px;
  left: -280px;
  box-sizing: border-box;
  top: 56px;
  padding: 16px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

#sidebar .search {
  padding: 0;
  margin: 0 0 8px 0;
}

#sidebar .search select {
  width: 100%;
  border: 1px solid;
  font-size: 14px;
  border-radius: 3px;
  padding: 4px;
  box-sizing: border-box;
  height: 32px;
}

#sidebar .results {}

#sidebar .results ol {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

#sidebar .results ol li {
  padding: 8px 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
}

#sidebar .results ol li:hover {
  background-color: #dee;
}

#sidebar .results ol li:last-of-type {
  border-bottom: none;
}

.location-box {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 280px;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.location-box .location-title {}

.location-box .location-likes {
  flex-basis: 50%;
}

.location-box .location-rating {
  flex-basis: 50%;
}

.location-box .location-image {
  max-height: 240px;
}

/* Media Queries */

@media screen and (min-width: 525px) {
  #menu-button {
    display: none;
  }
  #sidebar {
    left: 16px;
  }
}